@media screen and (min-width: 540px) {
	/* resize the profile picture ---------- */
		  .profile-pic{
		  width:auto;
  
		  
		  }
  
  
		  .profile-pic img{
		  width:auto;
		  height:350px;
		  
		  }

		  .about-me{

			padding: 0px 15px 0px 0px;
			}
  }
  
  @media screen and (min-width: 768px) {
	/* adjust main section height ---------- */
		main{
			height:100vh;
		}
		
		.container{
			grid-template-columns:repeat(2, 1fr);
			align-items:center;
		}
  
	/* change order of profile picture ---------- */
	
		.profile-pic{
		  order:2;
		  
	  }
  
  
	  .profile-pic img{
		  width:auto;
		  height:auto;
		  
	  }
	

	  .about-me{

		padding: 0px 15px 0px 0px;
		}
  
	/* resize profile picture ---------- */
  }