/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
 font-family: 'Poppins', sans-serif; */


 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
 /*font-family: 'Dancing Script', cursive; */
/* google fonts */

/* adding base style ---------- */
/* -------------------------- */
/*  DESKTOP (>=1024px)        */
/* -------------------------- */
@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: auto;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header img {
    width: 160px;
  }
}

body {
  display: flex;
  justify-content: center;  /* canh ngang */
  align-items: center;      /* canh dọc */
  min-height: 100vh;        /* full chiều cao màn hình */
  flex-direction: column;
}



/* repeated style ---------- */

/* add main style from here ---------- */